        /* レイアウト全体のスタイル */
        .container {
            display: flex;
            height: calc(100vh - 50px)!important; /* 画面全体の高さに合わせる */
            max-width: 100vw!important;
            padding-right: 0!important;
            padding-left: 0!important;

        }

        /* */
        .left {
            width: 50%; /* 画面の半分 */
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        /* カレンダー機能*/
        .left .top-box {
            /* flex: 4; 40% */

            height: 50%;
        }

        

        /* ニュース*/
        .left .bottom-box {
            /* flex: 6; 60% */
            height: 50%;
        }

        /* アクティビティ機能 */
        .right {
            width: 50%; /* 画面の半分 */
            height: 100%;
        }

        #dateResult .parent:not(:last-of-type) {
            border-bottom: 1px solid green!important;
        }

        .fc .fc-daygrid-day-frame {
            height: 8px!important;
            overflow: hidden;
        }


        /* #calendar{
            height: 100%!important;
        } */