input[type="checkbox"] + label {
    background-color: gray;
  }
  
  input[type="checkbox"]:checked  + label {
    background-color: blue;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .custom-button{
    background-color: gray!important;
  }
  
  
  .custom-card {
    /* カードの幅を調整 */
    width: 16rem;
    height: 28rem; /* 仮の高さ。画像のアスペクト比を維持するために設定 */
    display: flex; /* 子要素を縦方向に配置するために flex を使用 */
    justify-content: center; /* 子要素を中央に配置 */
    align-items: center; /* 子要素を中央に配置 */
  }
  
  .card-img-container {
    /* 画像をカードの中央に配置し、オーバーフローした部分を隠す */
    overflow: hidden;
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
  }
  
  .card-img-top {
    object-fit: cover; /* 画像を維持しながら親要素にフィットさせる */
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
  }
  
  .postimg{
    width: 100%;
    height: 20rem; 
  }
  
  .experience-index-instagram{
    display: flex;
    justify-content: center;
  }

  .likebutton{
    display:inline-block;
  }

  .likebutton * {
    border: none;
    background: none;
  }

  .btn-container,
  .btn-container * {
    display: inline-block;
    background: none;
    border: none;
  }


.custom-container {
  /* display: grid!important;
  grid-template-columns: repeat(3, 1fr);
  width: 100%; */
}

.custom-container > div {
  /* width: calc(100% / 3); */

}

.custom-col {
  flex: unset!important;
}

/* .custom-col img {
  width: 100%!important;
} */
