input[type="checkbox"] + label {
    background-color: white;
    border: 1px solid black;
  }
  
  input[type="checkbox"]:checked  + label {
    background-color: gray;
    border: 1px solid black;

  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  /* .custom-button{
    background-color: gray!important;
  } */
  
  
  .custom-card {
    /* カードの幅を調整 */
    width: 16rem;
    height: 28rem; /* 仮の高さ。画像のアスペクト比を維持するために設定 */
    display: flex; /* 子要素を縦方向に配置するために flex を使用 */
    justify-content: center; /* 子要素を中央に配置 */
    align-items: center; /* 子要素を中央に配置 */
  }
  
  .card-img-container {
    /* 画像をカードの中央に配置し、オーバーフローした部分を隠す */
    overflow: hidden;
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
  }
  
  .card-img-top {
    object-fit: cover; /* 画像を維持しながら親要素にフィットさせる */
    width: 100%; /* 画像を親要素に合わせる */
    height: 100%; /* 画像を親要素に合わせる */
  }
  
  .postimg{
    width: 100%;
    height: 20rem; 
  }
  
  .experience-index-instagram{
    display: flex;
    justify-content: center;
  }

  .likebutton{
    display:inline-block;
  }

  .likebutton * {
    border: none;
    background: none;
  }

  .btn-container,
  .btn-container * {
    display: inline-block;
    background: none;
    border: none;
  }


.custom-container {
  /* display: grid!important;
  grid-template-columns: repeat(3, 1fr);
  width: 100%; */
}

.custom-container > div {
  /* width: calc(100% / 3); */

}

.custom-col {
  flex: unset!important;
}

/* .custom-col img {
  width: 100%!important;
} */



.modalforpostnumber{
  justify-content: right;
}

.postgaps{
  /* justify-content: center !important; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 3.33%;
}

.moreposts{
  display: flex;
  justify-content: center!important;
} 

.card-title{
  font-size: 25px; 
  font-weight: 50; 
}

.modalforpostnumber{
  font-size: 15px; 
  font-weight: 50; 
}

.custom-card {
  position: relative; /* 親要素を相対位置に設定 */
}

.card-bottom-right {
  position: absolute; /* 絶対位置で配置 */
  right: 10px; /* 右から10pxの位置 */
  bottom: 10px; /* 下から10pxの位置 */
  padding: 5px 10px; /* パディング */
  background-color: #f8f9fa; /* 背景色 */
  border-radius: 5px; /* 角丸設定 */
  font-size: 0.875rem; /* フォントサイズ */
}

.card-body{
  padding: 1px !important;
}

.card-updatedat{
  font-size: 15px; 
  font-weight: 50; 
}


.card.custom-card {
  margin: 3px 0px 3px 0px;
}

.btn ig-permissionz{
  border-radius: 5px;
}
.ig-permission:hover {
  border: 1px solid black!important;
}

header {
  position: unset!important;
}

.item {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}