.header {
  background-color: black;
  height: 50px;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto ;
  padding-inline: 5%;
}
.header-logo {
  color: white;
  font-size: 20px;
}
.header-wrapper {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 20px;
}
.header-nav li {
  list-style: none;
}
.header-nav a {
  text-decoration: none;
  color: white;
}
.user-name {
  color: white;
}
.user-name a {
  text-decoration: none;
  color: white;
}
