



        .bottom-box a {
            display: block;
            background-color: white;
            text-align: center;
            padding: 10px;
            border: 1px solid #ccc;
            text-decoration: none;
            color: black;
        }