

/* 詳細＆予約フォームボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.custom-btn,
button.custom-btn {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  /* color: blue; */
  /* border-radius: 0.5rem; */
  /* border-radius: 0.3rem; */
}

button.btn-border-shadow {
     /* padding: calc(1rem - 6.35px) 1.85rem 1rem; */
  padding: calc(0.75rem - 6px) 1.5rem 0.75rem;
    /* padding: calc(1.5rem - 12px) 3rem 1.5rem; */
  background: #fff;
}

button.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 3px solid #000;
  /* border-radius: 0.5rem; */
  /* border-radius: 0.3rem; */
}

button.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

button.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

button.btn-border-shadow--color2 {
  /* border-radius: 10vh; */
  border-radius: 1vh;
}

button.btn-border-shadow--color2:before {
  /* border-radius: 10vh; */
    border-radius: 1vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
}

/* コメントボタンと予約ボタン */

button.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    border-radius: 1vh;
  }
  
button.btn-border:hover {
    color: #fff;
    background: #000;
    border-radius: 1vh;
  }

/* レストランの投稿ボタン */

.custom-btn1,
button.custom-btn-1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
}


button.btn-border-shadow-1 {
  padding: calc(0.75rem - 6px) 1.5rem 0.75rem;
  background: #fff;
  border: none;
}

button.btn-border-shadow-1:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 3px solid #000;
}


button.btn-border-shadow--color2-1:before {
    border-radius: 1vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
} 

.news-title1{
  font-size: 35px;

}

.news-title2{
  font-size: 20px;

}