.rest-post-container {
    max-width: 600px;
    height: 678px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    text-align: center;
}

.rest-post-container h2 {
    margin-bottom: 20px;
}

.rest-post-container .form-group {
    margin-bottom: 20px;
}

.rest-post-container label {
    display: block;
    margin-bottom: 10px;
}

.rest-post-container input[type="text"],
.rest-post-container textarea,
.rest-post-container .form-select {
    width: calc(100% - 18px); /* 調整 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; 
}

.rest-post-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.rest-post-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.horizontal-select-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.select-tags-label {
    margin-right: 10px;
}

.select-options-container {
    display: flex;
    flex-direction: column;
}

.select-container {
    margin-bottom: 10px;
}

.select-options-container .select-container .form-select {
    width: 100%;
}

.custom-file {
    display: inline-block; /* 調整 */
    width: 100%;
}

.custom-file-input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-file-label {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.custom-file-label::after {
    content: 'Browse';
    display: inline-block;
    width: 60px;
    padding: 6px 12px;
    margin-left: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-align: center;
    cursor: pointer;
}

.custom-file-input:focus ~ .custom-file-label,
.custom-file-input:valid ~ .custom-file-label {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}






