  .likebutton{
    display:inline-block;
  }

  .likebutton * {
    border: none;
    background: none;
  }

  .btn-container,
  .btn-container * {
    display: inline-block;
    background: none;
    border: none;
    color: red;
  }