/* 画面全体css */
.restaurant-dashboard-container{
    display: flex;
    padding-inline: 3px;
    height: 100vh; 
}

/* 検索機能のcss */
.restaurant-dashboard-right{
    flex: 1;
    border: 1px solid #000000; /* ボーダー追加 */
    border-radius: 2px;
}

.restaurant-dashboard-right div{
    display: flex;
    justify-content: center;
}

/* 一覧表示のcss */
.restaurant-dashboard-center{
    flex: 2; 

}

.restaurant-dashboard-center div{
    /* display: flex; */
    justify-content: center;
}



    
